In [9]:
import pandas as pd 
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder
from sklearn.preprocessing import OneHotEncoder
import pickle

In [3]:
df=pd.read_csv('Churn_Modelling.csv')
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
df.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

In [5]:
df=df.drop(columns=['RowNumber', 'CustomerId', 'Surname'],axis=1)

In [6]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [7]:
label_Encoder_gender=LabelEncoder()
df['Gender']=label_Encoder_gender.fit_transform(df['Gender'])
df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [10]:
OneHot_Encoder_geo=OneHotEncoder()
geo_encoder=OneHot_Encoder_geo.fit_transform(df[['Geography']])
geo_encoder

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 10000 stored elements and shape (10000, 3)>

In [11]:
geo_encoder=geo_encoder.toarray()
geo_encoder

array([[1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [15]:
columns_name=OneHot_Encoder_geo.get_feature_names_out(['Geography'])

In [16]:
geo_df=pd.DataFrame(geo_encoder,columns=columns_name)

In [18]:
df=pd.concat([df.drop('Geography',axis=1),geo_df],axis=1)

In [19]:
df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

In [20]:
X=df.drop('EstimatedSalary',axis=1)
y=df['EstimatedSalary']

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [21]:
X_train.shape

(8000, 12)

In [36]:
with open('label_encoder_gender_reg.pkl','wb') as file:
    pickle.dump(label_Encoder_gender,file)

with open('onehot_encoder_geography_reg.pkl','wb') as  file:
    pickle.dump(OneHot_Encoder_geo,file)

with open('scaler_reg.pkl','wb') as file:
    pickle.dump(scaler,file)

In [25]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime
import warnings
warnings.filterwarnings('ignore')

In [28]:
model=Sequential([
    Dense(64,activation='relu',input_shape=(X_train.shape[1],)),
    Dense(32,activation='relu'),
    Dense(1,activation='linear')
])

model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])

WARNING:tensorflow:From C:\Users\DELL\AppData\Roaming\Python\Python311\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

In [26]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 64)                832

 dense_4 (Dense)             (None, 32)                2080

 dense_5 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [30]:
log_dir="regressionlogs/fit/" +datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [31]:
early_stopping_callbacks=EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [32]:
history=model.fit(
    X_train,y_train,
    validation_data=(X_test,y_test),
    epochs=100,
    callbacks=[tensorboard_callback,early_stopping_callbacks]
)

Epoch 1/100
WARNING:tensorflow:From C:\Users\DELL\AppData\Roaming\Python\Python311\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From C:\Users\DELL\AppData\Roaming\Python\Python311\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 41s 145ms/step - loss: 100372.3359 - mae: 100372.3359 - val_loss: 98496.5547 - val_mae: 98496.5547
Epoch 2/100
250/250 [==============================] - 1s 4ms/step - loss: 99542.6797 - mae: 99542.6797 - val_loss: 96810.8906 - val_mae: 96810.8906
Epoch 3/100
250/250 [==============================] - 1s 4ms/step - loss: 96592.3672 - mae: 96592.3672 - val_loss: 92502.4297 - val_mae: 92502.4297
Epoch 4/100
250/250 [==============================] - 1s 3ms/step - loss: 90822.0781 - mae: 90822.0781 - val_loss: 85368.4453 - val_mae: 85368.4453
Epoch 5/100
250/250 [==============================] - 1s 3ms/step - loss: 82478.8906 - mae: 82478.8906 - val_loss: 76301.1406 - val_mae: 76301.1406
Epoch 6/100
250/250 [==============================] - 1s 3ms/step - loss: 72930.0156 - mae: 72930.0156 - val_loss: 67127.4844 - val_mae: 67127.4844
Epoch 7/100
250/250 [==============================] - 1s 4ms/step - loss: 64038.8711 - mae: 64038.8711 - val_loss: 59549.8086 - val_mae: 59549.8086
Epoch 8/100
250/250 [==============================] - 1s 4ms/step - loss: 57241.3711 - mae: 57241.3711 - val_loss: 54408.8750 - val_mae: 54408.8750
Epoch 9/100
250/250 [==============================] - 1s 4ms/step - loss: 53205.0586 - mae: 53205.0586 - val_loss: 51810.2031 - val_mae: 51810.2031
Epoch 10/100
250/250 [==============================] - 1s 3ms/step - loss: 51244.4062 - mae: 51244.4062 - val_loss: 50820.8711 - val_mae: 50820.8711
Epoch 11/100
250/250 [==============================] - 1s 3ms/step - loss: 50510.8438 - mae: 50510.8438 - val_loss: 50544.9961 - val_mae: 50544.9961
Epoch 12/100
250/250 [==============================] - 1s 4ms/step - loss: 50232.3086 - mae: 50232.3086 - val_loss: 50466.1836 - val_mae: 50466.1836
Epoch 13/100
250/250 [==============================] - 1s 3ms/step - loss: 50125.4844 - mae: 50125.4844 - val_loss: 50432.9023 - val_mae: 50432.9023
Epoch 14/100
250/250 [==============================] - 1s 3ms/step - loss: 50069.1328 - mae: 50069.1328 - val_loss: 50405.1641 - val_mae: 50405.1641
Epoch 15/100
250/250 [==============================] - 1s 3ms/step - loss: 50025.5078 - mae: 50025.5078 - val_loss: 50379.8516 - val_mae: 50379.8516
Epoch 16/100
250/250 [==============================] - 1s 3ms/step - loss: 49984.6133 - mae: 49984.6133 - val_loss: 50360.8555 - val_mae: 50360.8555
Epoch 17/100
250/250 [==============================] - 1s 5ms/step - loss: 49955.4102 - mae: 49955.4102 - val_loss: 50342.1602 - val_mae: 50342.1602
Epoch 18/100
250/250 [==============================] - 1s 5ms/step - loss: 49931.4805 - mae: 49931.4805 - val_loss: 50315.7734 - val_mae: 50315.7734
Epoch 19/100
250/250 [==============================] - 1s 3ms/step - loss: 49905.2461 - mae: 49905.2461 - val_loss: 50311.5703 - val_mae: 50311.5703
Epoch 20/100
250/250 [==============================] - 1s 4ms/step - loss: 49881.5625 - mae: 49881.5625 - val_loss: 50293.8516 - val_mae: 50293.8516
Epoch 21/100
250/250 [==============================] - 1s 5ms/step - loss: 49858.4531 - mae: 49858.4531 - val_loss: 50278.2969 - val_mae: 50278.2969
Epoch 22/100
250/250 [==============================] - 1s 3ms/step - loss: 49838.5703 - mae: 49838.5703 - val_loss: 50273.1562 - val_mae: 50273.1562
Epoch 23/100
250/250 [==============================] - 1s 4ms/step - loss: 49814.2461 - mae: 49814.2461 - val_loss: 50252.7617 - val_mae: 50252.7617
Epoch 24/100
250/250 [==============================] - 1s 4ms/step - loss: 49802.0039 - mae: 49802.0039 - val_loss: 50252.1172 - val_mae: 50252.1172
Epoch 25/100
250/250 [==============================] - 1s 4ms/step - loss: 49779.8555 - mae: 49779.8555 - val_loss: 50245.1602 - val_mae: 50245.1602
Epoch 26/100
250/250 [==============================] - 1s 4ms/step - loss: 49764.6953 - mae: 49764.6953 - val_loss: 50243.3828 - val_mae: 50243.3828
Epoch 27/100
250/250 [==============================] - 1s 4ms/step - loss: 49748.3008 - mae: 49748.3008 - val_loss: 50246.3398 - val_mae: 50246.3398
Epoch 28/100
250/250 [==============================] - 1s 3ms/step - loss: 49733.6367 - mae: 49733.6367 - val_loss: 50239.3281 - val_mae: 50239.3281
Epoch 29/100
250/250 [==============================] - 1s 3ms/step - loss: 49716.5625 - mae: 49716.5625 - val_loss: 50230.8906 - val_mae: 50230.8906
Epoch 30/100
250/250 [==============================] - 1s 4ms/step - loss: 49703.8281 - mae: 49703.8281 - val_loss: 50231.4688 - val_mae: 50231.4688
Epoch 31/100
250/250 [==============================] - 1s 4ms/step - loss: 49689.7188 - mae: 49689.7188 - val_loss: 50221.8359 - val_mae: 50221.8359
Epoch 32/100
250/250 [==============================] - 1s 3ms/step - loss: 49681.5703 - mae: 49681.5703 - val_loss: 50216.1367 - val_mae: 50216.1367
Epoch 33/100
250/250 [==============================] - 1s 3ms/step - loss: 49665.7852 - mae: 49665.7852 - val_loss: 50217.6055 - val_mae: 50217.6055
Epoch 34/100
250/250 [==============================] - 1s 4ms/step - loss: 49651.9102 - mae: 49651.9102 - val_loss: 50200.6836 - val_mae: 50200.6836
Epoch 35/100
250/250 [==============================] - 1s 3ms/step - loss: 49646.7266 - mae: 49646.7266 - val_loss: 50200.7422 - val_mae: 50200.7422
Epoch 36/100
250/250 [==============================] - 1s 4ms/step - loss: 49635.0352 - mae: 49635.0352 - val_loss: 50197.9258 - val_mae: 50197.9258
Epoch 37/100
250/250 [==============================] - 1s 3ms/step - loss: 49624.9570 - mae: 49624.9570 - val_loss: 50192.1641 - val_mae: 50192.1641
Epoch 38/100
250/250 [==============================] - 1s 4ms/step - loss: 49612.8789 - mae: 49612.8789 - val_loss: 50187.4531 - val_mae: 50187.4531
Epoch 39/100
250/250 [==============================] - 1s 3ms/step - loss: 49603.4062 - mae: 49603.4062 - val_loss: 50193.0430 - val_mae: 50193.0430
Epoch 40/100
250/250 [==============================] - 1s 4ms/step - loss: 49597.6992 - mae: 49597.6992 - val_loss: 50207.3672 - val_mae: 50207.3672
Epoch 41/100
250/250 [==============================] - 1s 4ms/step - loss: 49584.7461 - mae: 49584.7461 - val_loss: 50190.4258 - val_mae: 50190.4258
Epoch 42/100
250/250 [==============================] - 1s 4ms/step - loss: 49576.5195 - mae: 49576.5195 - val_loss: 50192.8086 - val_mae: 50192.8086
Epoch 43/100
250/250 [==============================] - 1s 3ms/step - loss: 49565.8086 - mae: 49565.8086 - val_loss: 50195.5742 - val_mae: 50195.5742
Epoch 44/100
250/250 [==============================] - 1s 3ms/step - loss: 49559.1523 - mae: 49559.1523 - val_loss: 50195.6719 - val_mae: 50195.6719
Epoch 45/100
250/250 [==============================] - 1s 4ms/step - loss: 49553.0938 - mae: 49553.0938 - val_loss: 50201.7188 - val_mae: 50201.7188
Epoch 46/100
250/250 [==============================] - 1s 4ms/step - loss: 49540.5625 - mae: 49540.5625 - val_loss: 50197.8320 - val_mae: 50197.8320
Epoch 47/100
250/250 [==============================] - 1s 3ms/step - loss: 49533.0078 - mae: 49533.0078 - val_loss: 50195.4414 - val_mae: 50195.4414
Epoch 48/100
250/250 [==============================] - 1s 4ms/step - loss: 49526.9961 - mae: 49526.9961 - val_loss: 50197.4844 - val_mae: 50197.4844

In [33]:
%load_ext tensorboard

In [39]:
%tensorboard --logdir regressionlogs/fit

Reusing TensorBoard on port 6006 (pid 2464), started 0:04:19 ago. (Use '!kill 2464' to kill it.)

In [37]:
test_loss,test_mae=model.evaluate(X_test,y_test)
print(f'Test MAE :{test_mae}')

63/63 [==============================] - 0s 1ms/step - loss: 50187.4531 - mae: 50187.4531
Test MAE :50187.453125

In [38]:
model.save('regression_model.h5')